<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <h3> List of books</h3>
    <table class="centered">
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>
        <tr th:each="book:${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
        </tr>
    </table>


    <form action="#"  th:action="@{/}" th:object="${newbook}" method="post">

        <p>author: <input type="text" th:field="*{author}"/> </p>
        <p>name: <input type="text" th:field="*{name}" /></p>

        <p><input type="submit" value="create new book" class="btn btn-primary green"/> <input type="reset" value="reset" class="btn btn-primary red"/></p>
    </form>
</body>
</html>